<!DOCTYPE html>
<html>
<head>
     <title>
         {{titleName}}
    </title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <style>
        .hidden {
            display: none;
            }
    </style>
    
    
</head>
<body>
    <h1>Add a Contact</h1>
    <form id="create-contact">
    <input type="text" id="name" placeholder="Name" required>
    <input type="number" id="phonenumber" placeholder="Phone No." required>
    <button type="submit" id="submit">Add Contacts</button>
    </form>
    <div id="displaytable">
        <table id="my table">
            <thead>
                <tr>
                    <th id="message3"></th>
                    <th id="message4"></th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td id="message1"></td>
                    <td id="message2"></td>
                </tr>
            </tbody>
        
        </table>

    </div>
    
    
    <script src="/js/app.js"></script>
  
   
    <a href="/show" class="showcontact">Show Contacts</a>        
</body>
</html>